body{
	background: url(/img/body_bg.png) repeat-x top left #fff;
}
.main_container{
	margin: 0 auto;
	width: 952px;
	margin-top: 36px;
	padding: 9px;

	-webkit-box-shadow:  1px 1px 5px 2px #c2c2c2;    
    box-shadow:  1px 1px 5px 2px #c2c2c2;

    -webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffffff 0%, #cccdce 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#cccdce)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ffffff 0%,#cccdce 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ffffff 0%,#cccdce 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ffffff 0%,#cccdce 100%); /* IE10+ */
	background: linear-gradient(to right,  #ffffff 0%,#cccdce 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccdce',GradientType=1 ); /* IE6-9 */

}
.header{
	background: url(/img/header_bg.jpg) top right #eeeef0 no-repeat;

	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
}
.logo{
	margin-top: 14px;
	margin-left: 17px;
	float: left;
	margin-bottom: 9px;
}
.social{
	float: right;
	margin-top: 15px;
	margin-right: 13px;
}
.social a{
	display: block;
	margin-right: 17px;
	float: left;
}
.social a.ultimo{
	margin-right: 0;
}
.menu_principal{
	width: 100%;
	clear: both;
	background: url(/img/menu_bg.png) no-repeat left center;
	margin-bottom: 7px;
	float: left;
}
.menu_principal li{
	float: left;
}
.menu_principal li a{
	text-decoration: none;
	font-family: tahoma, san-serif;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	padding: 14px 37px;
	display: block;
}
.menu_principal .inicio{
	width: 62px;
	padding-left: 44px;
}
.menu_principal .productos{
	padding: 14px 9px;
}
.menu_principal .empresa{
	padding: 14px 29px;
}
.menu_principal .marca{
	padding: 14px 30px;
}
.footer{
	background: url(/img/footer_bg.jpg) no-repeat right top;
	width: 100%;
	height: 220px;
}
.footer ul{
	width: 100%;
	padding-left: 80px;
	padding-left: 229px;
	margin-top: 19px;
	float: left;
}
.footer ul li{
	float: left;

}
.footer li a{
	text-decoration: none;
	font-family: tahoma, san-serif;
	color: #073f87;
	font-size: 16px;
	font-weight: bold;
	padding: 14px 37px;
	display: block;
	width: 172px;
	text-align: center;
	padding-top: 80px;
}
.footer p{
	clear: both;
	width: 98%;
	text-align: center;
	opacity: 0.5;
	padding: 1% 2%;
	font-size: 11px;
	font-family: tahoma, san-serif;
	background: #f1f2f2;
	float: left;
	margin-top: 50px;
}
#content{
	border: 1px solid #d1d3d4;
	position: relative;
	background: #f1f2f2;
	padding-bottom: 30px;
}
.solapa_content{
	position: absolute;
	top: -2px;
	left: -1px;
}
.nuestros_productos{
	float: right;
	margin-top: 9px;
}
.nuestros_productos ul{
	float: right;
}
.nuestros_productos li{
	float: left;
}
.nuestros_productos a{
	background: url(/img/nuestros_productos.png) no-repeat;
	padding: 9px 0;
	float: left;
	width: 252px;
	font-family: tahoma, san-serif;
	text-decoration: none;
	color: #073f87;
	font-size: 15px;
	text-align: center;
}
.nuestros_productos h1{
	float: left;
	color: #58595b;
	font-size: 16px;
	font-family: tahoma, san-serif;
	font-weight: normal;
	margin-top: 9px;
}
.marcas_wrapper{
	margin: 0 auto;
	width: 820px;
	clear: both;
	margin-top: 4px;
}
.marcas_wrapper div{
	background: #fff;
	border: 2px solid #a4a5a6;
	width: 398px;
	float: left;
	text-align: center;
	padding-top: 55px;
	position: relative;
	height: 340px;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.marcas_wrapper div:first-child{
	margin-right: 15px;
}
.marcas_wrapper .solapa{
	position: absolute;
	bottom: -2px;
	left: -2px;
}
.marcas_wrapper p{
	color: #fff;
	font-size: 16px;
	font-family: tahoma, san-serif;
	text-align: left;
	position: relative;
	z-index: 2;
	width: 90%;
	margin: 0 auto;
	margin-top: 95px;
}
.marcas_wrapper a{
	display: block;
	font-size: 16px;
	font-family: tahoma, san-serif;
	background: url(/img/mas.png) no-repeat left center;
	padding-left: 24px;
	position: relative;
	z-index: 2;
	color: #073f87;
	float: left;
	margin-top: 16px;
	margin-left: 18px;
	text-decoration: none;
}