body{
	background: url(/img/body_bg.png) repeat-x top left #fff;
}
a{
	text-decoration: none;
}
.main_container{
	margin: 0 auto;
	width: 952px;
	margin-top: 36px;
	padding: 9px;

	-webkit-box-shadow:  1px 1px 5px 2px #c2c2c2;    
    box-shadow:  1px 1px 5px 2px #c2c2c2;

    -webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffffff 0%, #cccdce 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#cccdce)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ffffff 0%,#cccdce 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ffffff 0%,#cccdce 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ffffff 0%,#cccdce 100%); /* IE10+ */
	background: linear-gradient(to right,  #ffffff 0%,#cccdce 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccdce',GradientType=1 ); /* IE6-9 */

}
.header{
	background: url(/img/header_bg.jpg) top right #eeeef0 no-repeat;

	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
}
.logo{
	margin-top: 14px;
	margin-left: 17px;
	float: left;
	margin-bottom: 9px;
}
.social{
	float: right;
	margin-top: 15px;
	margin-right: 13px;
}
.social a{
	display: block;
	margin-right: 17px;
	float: left;
}
.social a.ultimo{
	margin-right: 0;
}
.menu_principal{
	width: 100%;
	clear: both;
	background: url(/img/menu_bg.png) no-repeat left center;
	margin-bottom: 7px;
	float: left;
}
.menu_principal li{
	float: left;
}
.menu_principal li a{
	text-decoration: none;
	font-family: tahoma, san-serif;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	padding: 14px 37px;
	display: block;
}
.menu_principal .inicio{
	width: 62px;
	padding-left: 44px;
}
.menu_principal .locales{
	padding: 14px 50px;
}
.menu_principal .empresa{
	padding: 14px 20px;
}
.menu_principal .marca{
	padding: 14px 40px;
}
.menu_principal .marca{
	padding-right: 20px;
}
.footer{
	background: url(/img/footer_bg.jpg) no-repeat right top;
	width: 100%;
	height: 220px;
}
.footer ul{
	width: 100%;
	padding-left: 80px;
	padding-left: 229px;
	margin-top: 19px;
	float: left;
}
.footer ul li{
	float: left;

}
.footer li a{
	text-decoration: none;
	font-family: tahoma, san-serif;
	color: #073f87;
	font-size: 16px;
	font-weight: bold;
	padding: 14px 37px;
	display: block;
	width: 172px;
	text-align: center;
	padding-top: 80px;
}
.footer p{
	clear: both;
	width: 98%;
	text-align: center;
	opacity: 0.5;
	padding: 1% 2%;
	font-size: 11px;
	font-family: tahoma, san-serif;
	background: #f1f2f2;
	float: left;
	margin-top: 50px;
}
#content{
	border: 1px solid #d1d3d4;
	position: relative;
	background: #f1f2f2;
	padding-bottom: 30px;
}
.solapa_content{
	position: absolute;
	top: -2px;
	left: -1px;
}
.nuestros_productos{
	float: right;
	margin-top: 9px;
	margin-bottom: 15px;
}
.nuestros_productos ul{
	float: right;
}
.nuestros_productos li{
	float: left;
}
.nuestros_productos a{
	background: url(/img/nuestros_productos.png) no-repeat;
	padding: 9px 0;
	float: left;
	width: 252px;
	font-family: tahoma, san-serif;
	text-decoration: none;
	color: #073f87;
	font-size: 15px;
	text-align: center;
}
.nuestros_productos h1{
	float: left;
	color: #58595b;
	font-size: 16px;
	font-family: tahoma, san-serif;
	font-weight: normal;
	margin-top: 9px;
}
.marcas_wrapper{
	margin: 0 auto;
	width: 820px;
	clear: both;
	margin-top: 4px;
}
.marcas_wrapper div{
	background: #fff;
	border: 2px solid #a4a5a6;
	width: 398px;
	float: left;
	text-align: center;
	padding-top: 55px;
	position: relative;
	height: 340px;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.marcas_wrapper div:first-child{
	margin-right: 15px;
}
.marcas_wrapper .solapa{
	position: absolute;
	bottom: -2px;
	left: -2px;
}
.marcas_wrapper p{
	color: #fff;
	font-size: 16px;
	font-family: tahoma, san-serif;
	text-align: left;
	position: relative;
	z-index: 2;
	width: 90%;
	margin: 0 auto;
	margin-top: 95px;
}
.marcas_wrapper a{
	display: block;
	font-size: 16px;
	font-family: tahoma, san-serif;
	background: url(/img/mas.png) no-repeat left center;
	padding-left: 24px;
	position: relative;
	z-index: 2;
	color: #073f87;
	float: left;
	margin-top: 16px;
	margin-left: 18px;
	text-decoration: none;
}
.seccion_izquierda{
	float: left;
	width: 218px;
	padding-left: 15px;
	padding-top: 20px;
	margin-top: 8px;
}
.seccion_izquierda ul li{
	margin-bottom: 20px;
}
.seccion_izquierda ul ul li{
	margin-bottom: 5px;
	margin-top: 5px;
}
.seccion_izquierda a{
	color: #073f87;
	font-size: 18px;
	text-decoration: none;
	display: block;

}
.seccion_izquierda ul ul{
	padding-left: 1em;
}
.seccion_izquierda ul ul a{
	font-size: 14px;

}
.seccion_izquierda a.current, .nuestros_productos a.current{
	font-weight: bold;
}
.seccion_derecha{
	float: right;
	padding-top: 20px;
	padding-left: 35px;
	width: 679px;
	background: url(/img/seccion_derecha.png) top left repeat-y #fff;
	margin-top: 8px;
	position: relative;
}
.seccion_derecha h2{
	color: #f16822;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 8px;
}
.seccion_derecha .paginacion{
	float: right;
	width: 322px;
	margin-bottom: 15px;
}
.seccion_derecha .paginacion p{
	color: #58595b;
	font-size: 16px;
}
.seccion_derecha .paginacion a{
	text-decoration: none;
	color: #58595b;
}
.seccion_derecha .paginacion a.current{
	color: #073f87;
}
.seccion_derecha .productos{
	width: 582px;
	margin: 0 auto;
}
.seccion_derecha .productos div{
	float: left;
	width: 182px;
	margin-right: 12px;
	text-align: center;
	margin-bottom: 35px;
}
.seccion_derecha .productos div.tercero{
	margin-right: 0;
}
.seccion_derecha .productos div img{
	border: 1px solid #ecedee;
	margin-bottom: 16px;
	width: 182px;
}
.seccion_derecha .productos div h3{
	color: #073f87;
	font-size: 16px;
}
.prev, .next{
	display: block;
	position: absolute;
	width: 26px;
	height: 26px;
	top: 50%;
	margin-top: -13px;
	cursor: pointer;
}
.prev{
	left: 32px;
	background: url(../img/prev.png) no-repeat;
}
.next{
	right: 22px;
	background: url(../img/next.png) no-repeat;
}
.regresar{
	color: #073f87;
	font-size: 14px;
	float: right;
	margin-right: 20px;
	display: block;
}
.detalle_producto{
	padding-top: 24px;
	border-top: 1px dashed #acacad;
	margin-top: 5px;
	float: left;
	width: 97%;
	margin-top: 10px;
	font-size: 24px;
	margin-bottom: 26px;
}
.seccion_derecha .izq{
	float: left;
	width: 400px;
	padding-bottom: 35px;
	text-align: center;
}
.seccion_derecha .der{
	float: right;
	width: 240px;
	margin-right: 26px;
	padding-bottom: 35px;
}
.seccion_derecha .der p{
	color: #939598;
	font-size: 16px;
	text-align: justify;
}
img.imagen_principal{
	border: 1px solid #e6e7e8;
}
.controles{
	margin-top: 15px;
}
.info_content{
	background: none repeat scroll 0 0 #FFFFFF;
    padding: 0 27px 27px;
}
.info_content h1{
	background: url("../img/titulo.png") no-repeat scroll left top transparent;
    color: #F1671F;
    font-size: 21px;
    margin-bottom: 41px;
    margin-left: -27px;
    padding: 7px 26px;
}
.info_content p{
	color: #949597;
	line-height: 20px;
}
.info_content h2{
	color: #F1671F;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 17px;
}
.left{
	float: left;
	border-right: 1px dotted #c9c9c9;
	width: 315px;
}
.right{
	float: left;
	width: 315px;
	padding-left: 30px;
}
.info_content form p{
	font-size: 12px;
	font-style: italic;
	margin-bottom: 20px;
}
.requerido{
	color: red;
}
.info_content form label{
	color: #949597;
    font-size: 14px;
    width: 120px;
    float: left;
    margin-bottom: 20px;
    text-align: right;
    margin-right: 10px;
    padding-top: 6px;
}
.info_content form input{
	float: left;
	margin-bottom: 20px;
	color: #949597;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #afb0b2;
    
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.info_content form .right label{
	text-align: left;
	width: 100%;
}
.info_content form .right textarea{
	color: #949597;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #afb0b2;
    width: 90%;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 18px;
    
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.info_content form input.enviar{
	background: #073f89;
	border: none;
	color: #fff;
	text-transform: uppercase;
	padding: 7px 17px;
	margin-right: 8px;
	margin-left: 55px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.info_content form input.borrar{
	background: #818286;
	border: none;
	color: #fff;
	text-transform: uppercase;
	padding: 7px 17px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.info_content img{
	float: right;
	padding: 9px;
	border: 1px solid #e8e9eb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left: 25px;
	margin-bottom: 25px;
}
.info_link{
	color: #074087;
	display: block;
	margin: 25px 0;
	font-weight: bold;
	clear: both;
}
.locales .left{
	width: 420px;
	padding-right: 24px;
	text-align: center;
}
.locales .right{
	width: 420px;
	padding-left: 24px;
	text-align: center;
}
.info_content .carousel img, .info_content .controls img{
	float: none;
}
.info_content .controls{
	margin-bottom: 8px;
}
.info_content .controls img{
	margin:0;
	vertical-align: middle;
}
.info_content .controls .arrow-left img, .info_content .controls .arrow-right img{
	border: none;
}
.arrow-left{
    margin-left: 20px;
}
.info_content.locales p{
	font-size: 14px;
	text-align: left;
}
.info_content .marca{
	display: block;
	float: left;
	margin: 5px;
}
.info_content .marca img{
	margin: 0;
}
.main_image img{
    width:300px;
    height: 300px;
    float: none;
}
.scrollable{
    float: left;
    width: 322px;
    height: 72px;
    position: relative;
    overflow: hidden;
}
.arrow-left,
.arrow-right{
    float:left;
    cursor: pointer;
    margin-top: 16px;
}
.scrollable a{
    float:left;
    width: 60px;
    height: 60px;
    margin-right: 24px;
    opacity: 0.5;
}
.scrollable a.current{
    opacity: 1;
}
.scrollable a img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.scrollable .items{
    width: 20000em;
    position: absolute;
    clear: both;
}
.info_content form  input.invalid{
    border:solid red 1px;
}

 .error {
    /* supply height to ensure consistent positioning for every browser */
    height:15px;
    font-size:11px;
    color:red;
    padding:3px 10px;
    margin-left:-2px;
}


